<!-- add what you want the header to look like -->

<div class="navigation-section">
  <img src="..\bublic\images\site\emborder_logo1.jpg" alt="logo for custom love"  width="100" >

  <nav>
    <h4><a href="../index.html">Home</a></h4>
    <h4><a href="../inventory/fabric.html">Inventory</a></h4>
    <!-- <h4><a href="../inventory/fabric.html">Inventory</a></h4>
    <h4><a href="../inventory/typography.html">Typography</a></h4> -->
  </nav>

  <div class="cart_logo">
    <a href="../checkout/checkout.html"><img src="..\bublic\images\site\cartemborder.png" alt="cart logo"  width="100" ></a>
  </div>
</div>

