@media only screen and (max-width: 600px) {
  :root {
    --blue: #6aa5c786;
    --pink: #ca7fca86;
    --yellow: #ece17f86;
    --green: #6ac76a86;
  }

  body {
    background-color: lightblue;
  }
  /* HOME PAGE ------------- */
  .new_inventory, #made{
    display:none;
  }

  .started, .make{
    display: inline;
  }



}

/* make the home and inventory drop to a new line. under the logos */

